/* screen - atrasado */

.atrasado {
  align-items: flex-start;
  background-color: var(--blue);
  display: flex;
  height: 926px;
  overflow: hidden;
  width: 428px;
}

.atrasado .overlap-group6 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/625c46af91fd1ec47148b487/releases/62836c24162b4963ea3c0cb0/img/mask-group-8@1x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 926px;
  padding: 19px 18.5px;
  width: 428px;
}

.atrasado .flex-row {
  align-items: flex-start;
  display: flex;
  height: 102px;
  margin-right: 18.96px;
  margin-top: 39px;
  min-width: 352px;
}

.atrasado .flex-col {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 149px;
}

.atrasado .group-1689 {
  align-items: flex-start;
  display: flex;
  min-width: 124px;
}

.atrasado .vector {
  height: 23px;
  margin-top: -0.14px;
  width: 13px;
}

.atrasado .volver-a-inicio {
  align-self: center;
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 0.29px;
  min-height: 17px;
  min-width: 92px;
}

.atrasado .mis-prstamos {
  letter-spacing: 0;
  margin-top: 49px;
  min-height: 28px;
}

.atrasado .overlap-group4 {
  border-radius: 19.7px/20.69px;
  height: 41px;
  margin-left: 164px;
  position: relative;
  width: 39px;
}

.atrasado .group-1404 {
  background-color: var(--purple-heart);
  border-radius: 19.7px/20.69px;
  box-shadow: 0px 4px 28px transparent;
  display: flex;
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.atrasado .ufilter {
  height: 16.39px;
  margin-left: 11.6px;
  margin-top: 13.1px;
  width: 16.19px;
}

.atrasado .vector-1 {
  height: 17px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 17px;
}

.atrasado .en-miwo-te-salvamos {
  letter-spacing: 0;
  margin-right: 20.15px;
  margin-top: 34px;
  min-height: 17px;
  transform: rotate(-0.03deg);
  width: 351px;
}

.atrasado .en-esta-seccin-podr {
  letter-spacing: 0;
  margin-right: 19.99px;
  margin-top: 10px;
  min-height: 34px;
  transform: rotate(-0.03deg);
  width: 351px;
}

.atrasado .overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-right: 20.16px;
  margin-top: 29px;
  min-width: 349px;
}

.atrasado .overlap-group {
  align-items: flex-start;
  background-color: var(--miwo10);
  border-radius: 9px;
  display: flex;
  min-width: 155px;
}

.atrasado .solicitar-prstamo {
  height: 40px;
  letter-spacing: 0;
  text-align: center;
  width: 154px;
}

.atrasado .overlap-group3 {
  align-items: flex-start;
  border-radius: 9px;
  display: flex;
  margin-left: 34px;
  min-width: 160px;
}

.atrasado .simula-tu-prstamo {
  height: 40px;
  letter-spacing: 0;
  margin-top: -2px;
  text-align: center;
  width: 158px;
}

.atrasado .group-1795 {
  align-items: flex-start;
  align-self: center;
  display: flex;
  margin-left: 12.69px;
  margin-top: 126px;
  min-width: 270px;
}

.atrasado .overlap-group1 {
  border-radius: 6px;
  height: 30px;
  position: relative;
  width: 128px;
}

.atrasado .rectangle-623 {
  border-radius: 6px;
  cursor: pointer;
  height: 30px;
  left: 0;
  position: absolute;
  top: 0;
  width: 128px;
}

.atrasado .name {
  height: 26px;
  left: 49px;
  letter-spacing: 0;
  position: absolute;
  top: 2px;
  width: 74px;
}

.atrasado .ellipse-197 {
  background-color: var(--slimy-green);
  border: 1px solid var(--blue);
  border-radius: 7.5px;
  height: 15px;
  left: 16px;
  position: absolute;
  top: 8px;
  width: 15px;
}

.atrasado .overlap-group2 {
  align-items: flex-start;
  border-radius: 6px;
  display: flex;
  height: 30px;
  justify-content: flex-end;
  margin-left: 10px;
  min-width: 128px;
  padding: 1.2px 5.6px;
}

.atrasado .ellipse-198 {
  align-self: center;
  background-color: var(--red);
  border-radius: 7.5px;
  height: 15px;
  margin-bottom: 1.0px;
  width: 15px;
}

.atrasado .atrasado-1 {
  height: 26px;
  letter-spacing: 0;
  margin-left: 18px;
  width: 74px;
}

.atrasado .overlap-group7 {
  height: 174px;
  margin-right: 14.16px;
  margin-top: 19px;
  position: relative;
  width: 361px;
}

.atrasado .overlap-group5 {
  height: 174px;
  left: 0;
  position: absolute;
  top: 0;
  width: 361px;
}

.atrasado .overlap-group-1 {
  align-items: flex-end;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/625c46af91fd1ec47148b487/releases/62836c24162b4963ea3c0cb0/img/rectangle-9-2@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 174px;
  left: 0;
  min-width: 361px;
  padding: 26px 20.4px;
  position: absolute;
  top: 0;
}

.atrasado .paga-sin-recargo-has {
  letter-spacing: 0;
  min-height: 15px;
  text-align: center;
  width: 304px;
}

.atrasado .span3 {
  text-decoration: underline;
}

.atrasado .rectangle-620 {
  background-color: var(--blue);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 4px 4px transparent;
  height: 55px;
  left: 4px;
  position: absolute;
  top: 4px;
  width: 353px;
}

.atrasado .group-container {
  height: 43px;
  left: 44px;
  position: absolute;
  top: 6px;
  width: 140px;
}

.atrasado .mask-group-1 {
  height: 36px;
  left: 101px;
  position: absolute;
  top: 0;
  width: 39px;
}

.atrasado .group-1680 {
  display: flex;
  flex-direction: column;
  height: 33px;
  left: 0;
  position: absolute;
  top: 10px;
  width: 128px;
}

.atrasado .personal {
  height: 14px;
  letter-spacing: 0;
  margin-left: 0.4px;
  width: 79.78px;
}

.atrasado .audfonos-sony {
  height: 19px;
  letter-spacing: 0;
  width: 124px;
}

.atrasado .group-1780 {
  align-items: flex-start;
  display: flex;
  height: 34px;
  left: 199px;
  min-width: 123px;
  position: absolute;
  top: 79px;
}

.atrasado .overlap-group3-1 {
  align-items: flex-start;
  background-color: var(--purple-heart);
  border-radius: 6px;
  display: flex;
  height: 34px;
  justify-content: flex-end;
  min-width: 37px;
  padding: 6px 6.8px;
}

.atrasado .mask-group {
  height: 21px;
  width: 23px;
}

.atrasado .overlap-group2-1 {
  height: 34px;
  margin-left: 11px;
  margin-top: 0;
  position: relative;
  width: 71px;
}

.atrasado .address {
  height: 17px;
  left: 0;
  letter-spacing: 0;
  line-height: 20.2px;
  position: absolute;
  top: 17px;
  white-space: nowrap;
  width: 68px;
}

.atrasado .te-faltan {
  height: 18px;
  left: 0;
  letter-spacing: 0;
  line-height: 16.2px;
  position: absolute;
  top: 0;
  white-space: nowrap;
  width: 71px;
}

.atrasado .price {
  left: 218px;
  letter-spacing: 0;
  position: absolute;
  top: 29px;
  width: 96px;
}

.atrasado .group-1779 {
  align-items: flex-start;
  display: flex;
  height: 35px;
  left: 44px;
  min-width: 141px;
  position: absolute;
  top: 78px;
}

.atrasado .overlap-group4-1 {
  align-items: flex-start;
  align-self: flex-end;
  background-color: var(--purple-heart);
  border-radius: 6px;
  display: flex;
  height: 34px;
  min-width: 37px;
  padding: 6px 6.3px;
}

.atrasado .flex-col-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  margin-top: 0;
  min-height: 35px;
  width: 91px;
}

.atrasado .has-pagado {
  height: 18px;
  letter-spacing: 0;
  line-height: 16.2px;
  margin-left: 2.19px;
  white-space: nowrap;
}

.atrasado .price-1 {
  height: 17px;
  letter-spacing: 0;
  line-height: 20.2px;
  text-align: center;
  white-space: nowrap;
  width: 67px;
}

.atrasado .ellipse-194 {
  background-color: var(--red);
  border-radius: 5.5px;
  height: 11px;
  left: 16px;
  position: absolute;
  top: 26px;
  width: 11px;
}

.atrasado .navegador-principal {
  background-color: var(--blue);
  border-radius: 20px;
  box-shadow: 0px 0px 40px transparent;
  display: flex;
  margin-top: 157px;
  overflow: hidden;
  width: 390px;
}

.atrasado .navegador-principal-1 {
  background-color: var(--blue);
  border-radius: 20px;
  box-shadow: 0px 0px 40px transparent;
  display: flex;
  overflow: hidden;
  width: 390px;
}

.atrasado .group-1880 {
  display: flex;
  margin-left: 20px;
  width: 356px;
}

.atrasado .frame-1623 {
  display: flex;
  flex-direction: column;
  height: 77px;
  width: 55px;
}

.atrasado .iconly-light-outline-home {
  height: 22.6px;
  margin-left: 16.5px;
  margin-top: 20.5px;
  width: 21.6px;
}

.atrasado .place {
  height: 12px;
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 5.9px;
  text-align: center;
  width: 27px;
}

.atrasado .frame-1622 {
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 6px;
  width: 78px;
}

.atrasado .iconly-light-outline-wallet {
  height: 23.12px;
  margin-left: 27.8px;
  margin-top: 19.5px;
  width: 25.2px;
}

.atrasado .movimientos {
  height: 12px;
  letter-spacing: 0;
  margin-left: 11px;
  margin-top: 6.4px;
  text-align: center;
  width: 56px;
}

.atrasado .frame-1621 {
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 10px;
  width: 61px;
}

.atrasado .iconly-light-outline3-user {
  height: 22px;
  margin-left: 14.8px;
  margin-top: 21px;
  width: 30px;
}

.atrasado .parches {
  height: 12px;
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 6px;
  text-align: center;
  width: 33px;
}

.atrasado .frame-1620 {
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 15px;
  width: 63px;
}

.atrasado .iconly-light-outline-play {
  height: 22.4px;
  margin-left: 19.5px;
  margin-top: 20.5px;
  width: 22.4px;
}

.atrasado .aprende {
  height: 12px;
  letter-spacing: 0;
  margin-left: 12px;
  margin-top: 6.1px;
  text-align: center;
  width: 39px;
}

.atrasado .frame-1624 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 9px;
  padding: 17px 0;
  width: 59px;
}

.atrasado .combined-shape {
  height: 22px;
  margin-right: 1.02px;
  margin-top: 4px;
  width: 18px;
}

.atrasado .perfil {
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 12px;
  min-width: 23px;
  text-align: center;
}
