/* screen - caminata */

.caminata {
  align-items: flex-start;
  background-color: var(--blue);
  display: flex;
  height: 926px;
  width: 428px;
}

.caminata .overlap-group19 {
  height: 908px;
  margin-top: -0.5px;
  position: relative;
  width: 428px;
}

.caminata .fondo {
  height: 811px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 428px;
}

.caminata .scroll::-webkit-scrollbar {
  display: none;
  width: 0;
}

.caminata .scroll {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 715px;
  left: 1px;
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 21px;
  position: absolute;
  top: 166px;
  width: 427px;
}

.caminata .overlap-group4 {
  align-self: flex-start;
  height: 221px;
  margin-top: -3px;
  position: relative;
  width: 383px;
}

.caminata .group-container {
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/625c46af91fd1ec47148b487/releases/62964a3009ff2f6c5d9596a3/img/group-1782@2x.png);
  background-size: 100% 100%;
  height: 221px;
  left: 0;
  position: absolute;
  top: 0;
  width: 383px;
}

.caminata .mask-group-2 {
  height: 31px;
  left: 271px;
  position: absolute;
  top: 10px;
  width: 97px;
}

.caminata .group-1680 {
  display: flex;
  height: 16px;
  left: 15px;
  position: absolute;
  top: 27px;
  width: 355px;
}

.caminata .alcance-del-parche {
  height: 16.36px;
  letter-spacing: 0;
  text-align: center;
  width: 353px;
}

.caminata .group-1724 {
  align-items: flex-start;
  display: flex;
  height: 101px;
  left: 46px;
  min-width: 299px;
  position: absolute;
  top: 80px;
}

.caminata .overlap-group-container {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  min-height: 101px;
  width: 137px;
}

.caminata .overlap-group {
  border-radius: 4px;
  height: 47px;
  position: relative;
  width: 137px;
}

.caminata .price-1 {
  height: 15px;
  left: 52px;
  letter-spacing: 0;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 23px;
  white-space: nowrap;
  width: 63px;
}

.caminata .meta {
  height: 16px;
  left: 52px;
  letter-spacing: 0;
  line-height: 16.2px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 33px;
}

.caminata .rectangle {
  border-radius: 4px;
  height: 47px;
  left: 0;
  position: absolute;
  top: 0;
  width: 137px;
}

.caminata .rectangle-60 {
  background-color: var(--purple-heart);
  border-radius: 6px;
  height: 34px;
  left: 8px;
  position: absolute;
  top: 7px;
  width: 34px;
}

.caminata .mask-group-3 {
  height: 21px;
  left: 14px;
  position: absolute;
  top: 13px;
  width: 21px;
}

.caminata .overlap-group-1 {
  border-radius: 4px;
  height: 47px;
  margin-top: 7px;
  position: relative;
  width: 137px;
}

.caminata .price {
  height: 17px;
  left: 50px;
  letter-spacing: 0;
  line-height: 20.2px;
  position: absolute;
  text-align: center;
  top: 22px;
  white-space: nowrap;
  width: 61px;
}

.caminata .recaudado {
  height: 18px;
  left: 52px;
  letter-spacing: 0;
  line-height: 16.2px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 81px;
}

.caminata .icon-location_pin {
  height: 21px;
  left: 14px;
  position: absolute;
  top: 13px;
  width: 21px;
}

.caminata .overlap-group-container-1 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 9px;
  min-height: 101px;
  width: 137px;
}

.caminata .address {
  height: 15px;
  left: 52px;
  letter-spacing: 0;
  line-height: 20.2px;
  position: absolute;
  top: 23px;
  white-space: nowrap;
  width: 63px;
}

.caminata .faltan {
  height: 16px;
  left: 52px;
  letter-spacing: 0;
  line-height: 16.2px;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 56px;
}

.caminata .icon-clock {
  height: 18px;
  left: 16px;
  position: absolute;
  top: 15px;
  width: 18px;
}

.caminata .cuota {
  height: 18px;
  left: 52px;
  letter-spacing: 0;
  line-height: 16.2px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 81px;
}

.caminata .mask-group-4 {
  height: 21px;
  left: 15px;
  position: absolute;
  top: 13px;
  width: 21px;
}

.caminata .rectangle-620 {
  background-color: var(--blue);
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0px 4px 4px #0000000d;
  height: 47px;
  left: 15px;
  position: absolute;
  top: 12px;
  width: 353px;
}

.caminata .fecha-lmite-de-entr {
  letter-spacing: 0;
  margin-right: 3.0px;
  margin-top: 2px;
  min-height: 17px;
  text-align: right;
  width: 352px;
}

.caminata .overlap-group16 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/625c46af91fd1ec47148b487/releases/62964a3009ff2f6c5d9596a3/img/rectangle-9-1@2x.png);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  margin-right: 3.0px;
  margin-top: 30px;
  min-height: 320px;
  padding: 21.2px 6px;
  width: 352px;
}

.caminata .flex-row {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 174px;
  min-width: 325px;
}

.caminata .mask-group-5 {
  height: 171px;
  margin-top: 0.75px;
  width: 98px;
}

.caminata .flex-col {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 17px;
  min-height: 174px;
  width: 210px;
}

.caminata .x-container {
  align-items: flex-start;
  display: flex;
  height: 34px;
  min-width: 210px;
}

.caminata .creado-el-02042022 {
  letter-spacing: 0;
  min-height: 34px;
  width: 110px;
}

.caminata .hasta-el-17092022 {
  letter-spacing: 0;
  margin-left: 5px;
  min-height: 34px;
  width: 95px;
}

.caminata .overlap-group-container-2 {
  height: 29px;
  margin-top: 15px;
  position: relative;
  width: 195px;
}

.caminata .overlap-group6 {
  align-items: flex-start;
  background-color: var(--purple-heart);
  border-radius: 6px 0px 0px 6px;
  display: flex;
  height: 29px;
  left: 0;
  min-width: 115px;
  padding: 0 1.1px;
  position: absolute;
  top: 0;
}

.caminata .pago-mensual {
  height: 29px;
  letter-spacing: 0;
  text-align: center;
  width: 108px;
}

.caminata .overlap-group7 {
  height: 29px;
  left: 98px;
  position: absolute;
  top: 0;
  width: 97px;
}

.caminata .rectangle-596 {
  border-radius: 6px;
  height: 29px;
  left: 0;
  position: absolute;
  top: 0;
  width: 93px;
}

.caminata .cada-15 {
  height: 29px;
  left: 5px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 91px;
}

.caminata .overlap-group8 {
  height: 32px;
  margin-left: 1px;
  margin-top: 14px;
  position: relative;
  width: 190px;
}

.caminata .group-1371 {
  height: 31px;
  left: 0;
  position: absolute;
  top: 1px;
  width: 73px;
}

.caminata .group-1854 {
  height: 31px;
  left: 79px;
  position: absolute;
  top: 0;
  width: 111px;
}

.caminata .icon-location_pin-1 {
  height: 17px;
  left: 11px;
  position: absolute;
  top: 7px;
  width: 16px;
}

.caminata .group-1397 {
  display: flex;
  height: 15px;
  left: 32px;
  position: absolute;
  top: 8px;
  width: 65px;
}

.caminata .icesi {
  flex: 1;
  letter-spacing: 0;
  line-height: 17.5px;
  white-space: nowrap;
  width: 63px;
}

.caminata .group-1855 {
  display: flex;
  height: 15px;
  left: 113px;
  position: absolute;
  top: 8px;
  width: 73px;
}

.caminata .text-1 {
  flex: 1;
  letter-spacing: 0;
  line-height: 17.5px;
  white-space: nowrap;
  width: 71px;
}

.caminata .icon-clock-1 {
  height: 16px;
  left: 91px;
  position: absolute;
  top: 7px;
  width: 16px;
}

.caminata .flex-row-1 {
  align-items: center;
  display: flex;
  margin-left: 1.0px;
  margin-top: 16px;
  min-width: 190px;
}

.caminata .group-1573 {
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  min-width: 87px;
  transform: rotate(-180deg);
}

.caminata .group-container-1 {
  height: 33px;
  position: relative;
  width: 87px;
}

.caminata .group-1569 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 53px;
  min-width: 34px;
  position: absolute;
  top: 0;
  transform: rotate(-360deg);
}

.caminata .overlap-group-2 {
  border-radius: 16.86px/16.53px;
  height: 33px;
  position: relative;
  width: 34px;
}

.caminata .ellipse-173 {
  background-color: var(--blue);
  border-radius: 16.86px/16.53px;
  height: 33px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-360deg);
  width: 34px;
}

.caminata .mask-group-6 {
  height: 30px;
  left: 2px;
  position: absolute;
  top: 2px;
  transform: rotate(-180deg);
  width: 30px;
}

.caminata .group-1570 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 40px;
  min-width: 34px;
  position: absolute;
  top: 0;
  transform: rotate(-360deg);
}

.caminata .mask-group {
  height: 30px;
  left: 1px;
  position: absolute;
  top: 2px;
  transform: rotate(-180deg);
  width: 30px;
}

.caminata .group-1571 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 23px;
  min-width: 34px;
  position: absolute;
  top: 0;
  transform: rotate(-360deg);
}

.caminata .group-1572 {
  align-items: flex-start;
  display: flex;
  height: 33px;
  justify-content: flex-end;
  left: 0;
  min-width: 34px;
  position: absolute;
  top: 0;
  transform: rotate(-360deg);
}

.caminata .address-1 {
  height: 19px;
  letter-spacing: 0;
  line-height: 15.4px;
  margin-left: 9px;
  margin-top: 1.93px;
  width: 94px;
}

.caminata .descripcin {
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 23px;
  min-height: 19px;
  width: 229px;
}

.caminata .animat-con-nosotros {
  align-self: center;
  letter-spacing: 0;
  margin-left: 2.0px;
  margin-top: 8px;
  min-height: 51px;
  width: 312px;
}

.caminata .group-1734 {
  display: flex;
  height: 68px;
  margin-right: 2.0px;
  margin-top: 29px;
  width: 353px;
}

.caminata .single-tab {
  align-items: flex-start;
  background-color: var(--purple-heart);
  border-radius: 5px;
  box-shadow: 0px 0px 15px #0038ff1a;
  display: flex;
  flex: 1;
  overflow: hidden;
  padding: 22px 20.0px;
  width: 353px;
}

.caminata .group-1326 {
  display: flex;
  margin-left: 13px;
  width: 244px;
}

.caminata .nete-a-este-parche {
  height: 23px;
  letter-spacing: 0;
  width: 242px;
}

.caminata .vector {
  align-self: center;
  height: 10px;
  margin-bottom: 0.5px;
  margin-left: 49px;
  width: 7px;
}

.caminata .group-1847 {
  align-self: flex-start;
  display: flex;
  margin-left: 17px;
  margin-top: 30px;
  width: 202px;
}

.caminata .title {
  height: 28px;
  letter-spacing: 0;
  width: 200px;
}

.caminata .overlap-group14 {
  height: 62px;
  margin-right: 1.0px;
  margin-top: 16px;
  position: relative;
  width: 354px;
}

.caminata .group-794 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 62px;
  padding: 12.6px 94.3px;
  position: absolute;
  top: 0;
  width: 354px;
}

.caminata .salom-marn {
  height: 13px;
  letter-spacing: 0;
  width: 124px;
}

.caminata .rectangle-377 {
  align-self: center;
  height: 1px;
  margin-right: 1.5px;
  margin-top: 6px;
  width: 1px;
}

.caminata .fistar {
  height: 1px;
  left: 103px;
  position: absolute;
  top: 39px;
  width: 1px;
}

.caminata .fistar-1 {
  height: 1px;
  left: 131px;
  position: absolute;
  top: 39px;
  width: 1px;
}

.caminata .fistar-2 {
  height: 1px;
  left: 158px;
  position: absolute;
  top: 39px;
  width: 1px;
}

.caminata .fistar-3 {
  height: 1px;
  left: 185px;
  position: absolute;
  top: 39px;
  width: 1px;
}

.caminata .fistar-4 {
  height: 1px;
  left: 212px;
  position: absolute;
  top: 39px;
  width: 1px;
}

.caminata .overlap-group10 {
  border-radius: 21.36px;
  height: 43px;
  left: 28px;
  position: absolute;
  top: 10px;
  width: 43px;
}

.caminata .mask-group-1 {
  height: 1px;
  left: 21px;
  position: absolute;
  top: 21px;
  width: 1px;
}

.caminata .ellipse-160 {
  border-radius: 21.36px;
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.caminata .rectangle-387 {
  background-color: var(--miwo10);
  border-radius: 0px 10px 0px 10px;
  height: 22px;
  left: 249px;
  position: absolute;
  top: 0;
  width: 103px;
}

.caminata .group-755 {
  display: flex;
  height: 7px;
  left: 249px;
  position: absolute;
  top: 7px;
  width: 105px;
}

.caminata .admin {
  flex: 1;
  letter-spacing: 0;
  line-height: 18.9px;
  text-align: center;
  white-space: nowrap;
  width: 102.67px;
}

.caminata .overlap-group13 {
  height: 60px;
  margin-right: 1.0px;
  margin-top: 12px;
  position: relative;
  width: 354px;
}

.caminata .group-795 {
  align-items: center;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 60px;
  padding: 12px 90px;
  position: absolute;
  top: 0;
  width: 354px;
}

.caminata .name {
  align-self: flex-start;
  letter-spacing: 0;
  min-height: 15px;
  width: 118px;
}

.caminata .rectangle-377-1 {
  height: 1px;
  margin-right: 17.5px;
  margin-top: 1px;
  width: 1px;
}

.caminata .rectangle-378 {
  height: 1px;
  margin-right: 1.5px;
  margin-top: 1px;
  width: 1px;
}

.caminata .fistar-5 {
  height: 1px;
  left: 98px;
  position: absolute;
  top: 40px;
  width: 1px;
}

.caminata .fistar-6 {
  height: 1px;
  left: 121px;
  position: absolute;
  top: 40px;
  width: 1px;
}

.caminata .fistar-7 {
  height: 1px;
  left: 144px;
  position: absolute;
  top: 40px;
  width: 1px;
}

.caminata .fistar-8 {
  height: 1px;
  left: 167px;
  position: absolute;
  top: 40px;
  width: 1px;
}

.caminata .fistar-9 {
  height: 1px;
  left: 190px;
  position: absolute;
  top: 40px;
  width: 1px;
}

.caminata .overlap-group11 {
  border-radius: 21.5px;
  height: 43px;
  left: 28px;
  position: absolute;
  top: 8px;
  width: 43px;
}

.caminata .ellipse-16 {
  border-radius: 21.5px;
  height: 43px;
  left: 0;
  position: absolute;
  top: 0;
  width: 43px;
}

.caminata .overlap-group15 {
  height: 63px;
  margin-right: 1.0px;
  margin-top: 12px;
  position: relative;
  width: 354px;
}

.caminata .group-797 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 0;
  min-height: 63px;
  padding: 12.6px 94.3px;
  position: absolute;
  top: 0;
  width: 354px;
}

.caminata .name-1 {
  letter-spacing: 0;
  min-height: 16px;
  width: 124px;
}

.caminata .rectangle-377-2 {
  align-self: center;
  height: 1px;
  margin-right: 1.5px;
  margin-top: 3px;
  width: 1px;
}

.caminata .fistar-10 {
  height: 1px;
  left: 102px;
  position: absolute;
  top: 41px;
  width: 1px;
}

.caminata .fistar-11 {
  height: 1px;
  left: 126px;
  position: absolute;
  top: 41px;
  width: 1px;
}

.caminata .fistar-12 {
  height: 1px;
  left: 150px;
  position: absolute;
  top: 41px;
  width: 1px;
}

.caminata .fistar-13 {
  height: 1px;
  left: 175px;
  position: absolute;
  top: 41px;
  width: 1px;
}

.caminata .fistar-14 {
  height: 1px;
  left: 199px;
  position: absolute;
  top: 41px;
  width: 1px;
}

.caminata .overlap-group12 {
  border-radius: 21.5px;
  height: 43px;
  left: 28px;
  position: absolute;
  top: 10px;
  width: 43px;
}

.caminata .vector-479 {
  height: 1px;
  margin-right: 1.5px;
  margin-top: 80px;
  width: 1px;
}

.caminata .volver-a-parches {
  align-items: flex-start;
  display: flex;
  height: 52px;
  left: 38px;
  min-width: 137px;
  padding: 14.6px 0;
  position: absolute;
  top: 64px;
}

.caminata .vector-1 {
  height: 23px;
  width: 13px;
}

.caminata .volver-a-parches-1 {
  align-self: center;
  letter-spacing: 0;
  margin-bottom: 1.58px;
  margin-left: 17px;
  min-height: 17px;
  min-width: 107px;
}

.caminata .caminata-ecolgica {
  left: 67px;
  letter-spacing: 0;
  position: absolute;
  top: 126px;
}

.caminata .overlap-group18 {
  background-color: var(--governor-bay);
  border-radius: 31.75px/32.49px;
  height: 65px;
  left: 336px;
  position: absolute;
  top: 40px;
  width: 63px;
}

.caminata .group-1404 {
  background-color: var(--purple-heart);
  border-radius: 19.7px/20.69px;
  box-shadow: 0px 4px 28px #2d0bff63;
  display: flex;
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.caminata .ufilter {
  height: 16.39px;
  margin-left: 11.6px;
  margin-top: 13.1px;
  width: 16.19px;
}

.caminata .icon-notifications {
  height: 17px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 17px;
}

.caminata .navegador-principal {
  background-color: var(--blue);
  border-radius: 20px;
  box-shadow: 0px 0px 40px #0038ff1a;
  display: flex;
  height: 77px;
  left: 19px;
  overflow: hidden;
  position: absolute;
  top: 830px;
  width: 390px;
}

.caminata .navegador-principal-1 {
  align-items: flex-start;
  background-color: var(--blue);
  border-radius: 20px;
  box-shadow: 0px 0px 40px #0038ff1a;
  display: flex;
  overflow: hidden;
  padding: 0 17px;
  width: 390px;
}

.caminata .overlap-group-3 {
  height: 77px;
  margin-left: 4px;
  position: relative;
  width: 352px;
}

.caminata .group-1624 {
  display: flex;
  height: 77px;
  left: 0;
  position: absolute;
  top: 0;
  width: 352px;
}

.caminata .frame-1623 {
  display: flex;
  flex-direction: column;
  height: 76px;
  margin-top: 1px;
  width: 52px;
}

.caminata .icon-home {
  height: 22.6px;
  margin-left: 15.5px;
  margin-top: 19.5px;
  width: 21.6px;
}

.caminata .inicio {
  height: 12px;
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 5.9px;
  text-align: center;
  width: 24px;
}

.caminata .frame-1622 {
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 10px;
  width: 74px;
}

.caminata .iconly-light-outline-wallet {
  height: 23.12px;
  margin-left: 25.5px;
  margin-top: 19.5px;
  width: 25.2px;
}

.caminata .movimientos {
  height: 12px;
  letter-spacing: 0;
  margin-left: 9px;
  margin-top: 6.4px;
  text-align: center;
  width: 56px;
}

.caminata .group-1621 {
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-left: 26px;
  margin-top: 21px;
  width: 35px;
}

.caminata .iconly-light-outline3-user {
  height: 22px;
  margin-left: 1px;
  margin-top: -0.2px;
  width: 30px;
}

.caminata .parches {
  height: 12px;
  letter-spacing: 0;
  margin-top: 6.2px;
  text-align: center;
  width: 33px;
}

.caminata .frame-1620 {
  display: flex;
  flex-direction: column;
  height: 76px;
  margin-left: 25px;
  margin-top: 1px;
  width: 67px;
}

.caminata .icon-play {
  height: 22.4px;
  margin-left: 21.5px;
  margin-top: 19.5px;
  width: 22.4px;
}

.caminata .aprende {
  height: 12px;
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 6.1px;
  text-align: center;
  width: 39px;
}

.caminata .frame-1619 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 76px;
  margin-left: 10px;
  margin-top: 1px;
  padding: 17px 0;
  width: 53px;
}

.caminata .combined-shape {
  height: 22px;
  margin-right: 0.52px;
  margin-top: 3px;
  width: 18px;
}

.caminata .perfil {
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 12px;
  min-width: 23px;
  text-align: center;
}

.caminata .rectangle-589 {
  background-color: var(--miwo10);
  border-radius: 13px;
  box-shadow: 0px 0px 12px #ff855f;
  height: 52px;
  left: 151px;
  position: absolute;
  top: 13px;
  width: 56px;
}

.caminata .iconly-light-outline3-user-1 {
  height: 22px;
  left: 164px;
  position: absolute;
  top: 28px;
  width: 30px;
}
