/* screen - introparches4 */

.introparches4 {
  align-items: flex-start;
  background-color: var(--blue);
  display: flex;
  height: 926px;
  width: 428px;
}

.introparches4 .overlap-group {
  align-items: center;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/625c46af91fd1ec47148b487/releases/626f4e71615a92e098ff945d/img/mask-group-19@1x.svg);
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  min-height: 926px;
  padding: 46px 0;
  width: 428px;
}

.introparches4 .group-1789 {
  align-items: flex-start;
  display: flex;
  min-width: 352px;
}

.introparches4 .rectangle-622 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background-color: var(--black-haze);
  border-radius: 5px;
  height: 5px;
  width: 81px;
}

.introparches4 .rectangle-63 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background-color: var(--black-haze);
  border-radius: 5px;
  height: 5px;
  margin-left: 10px;
  width: 81px;
}

.introparches4 .rectangle-633 {
  -webkit-backdrop-filter: blur(20px) brightness(100%);
  backdrop-filter: blur(20px) brightness(100%);
  background-color: var(--white-2);
  border-radius: 5px;
  height: 5px;
  margin-left: 10px;
  width: 81px;
}

.introparches4 .y-no-dejes-plantado-a-tu-parche {
  letter-spacing: 0;
  margin-right: 35.0px;
  margin-top: 74px;
  min-height: 74px;
  text-shadow: 0px 4px 4px #00000040;
  width: 299px;
}

.introparches4 .group-1899 {
  align-items: flex-start;
  display: flex;
  margin-top: 238px;
  max-width: 428px;
}

.introparches4 .group-1896 {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/625c46af91fd1ec47148b487/releases/626f44a5bc77bbcf6fd70a4d/img/rectangle-825@2x.svg);
  background-size: 100% 100%;
  display: flex;
  height: 47px;
  min-width: 53px;
  padding: 15.0px 21.7px;
}

.introparches4 .vector {
  cursor: pointer;
  height: 17px;
  width: 9px;
}

.introparches4 .group-1898 {
  align-items: center;
  display: flex;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/625c46af91fd1ec47148b487/releases/626f44a5bc77bbcf6fd70a4d/img/rectangle-825@2x.svg);
  background-size: 100% 100%;
  justify-content: flex-end;
  margin-left: 322px;
  height:47px;
  padding: 15px 21.7px;
  max-width: 53px; 
  transform: rotate(180deg);
}

.introparches4 .vector-1 {
  cursor: pointer;
  height: 17px;
  margin-left: 761px;
  margin-top: 0;
  width: 9px;
}

.introparches4 .rectangle-825 {
  height: 47px;
  transform: rotate(-180deg);
  width: 53px;
}
.introparches4 .convirtete-en-ese-a {
  letter-spacing: 0;
  margin-right: 4.0px;
  margin-top: 217px;
  min-height: 104px;
  width: 330px;
}
