/* screen - mis-subscripciones */

.mis-subscripciones {
  align-items: center;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  height: 926px;
  padding: 19px 0;
  width: 428px;
}

.mis-subscripciones .flex-row {
  align-items: flex-start;
  display: flex;
  height: 44px;
  margin-left: 0.49px;
  margin-top: 39px;
  min-width: 352px;
}

.mis-subscripciones .volver-a-inicio-subscripciones {
  align-items: flex-start;
  align-self: flex-end;
  display: flex;
  height: 42px;
  min-width: 122px;
}

.mis-subscripciones .vector-1 {
  height: 23px;
  margin-top: -0.14px;
  width: 13px;
}

.mis-subscripciones .volver-a-inicio {
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 2.0px;
  min-height: 17px;
}

.mis-subscripciones .overlap-group-container {
  height: 41px;
  margin-left: 191px;
  position: relative;
  width: 39px;
}

.mis-subscripciones .overlap-group-2 {
  border-radius: 19.75px/20.49px;
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.mis-subscripciones .group-1404 {
  background-color: var(--miwo10);
  border-radius: 19.75px/20.49px;
  display: flex;
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 39px;
}

.mis-subscripciones .ufilter {
  height: 16.39px;
  margin-left: 11.6px;
  margin-top: 13.1px;
  width: 16.39px;
}

.mis-subscripciones .icon-notifications {
  height: 17px;
  left: 11px;
  position: absolute;
  top: 12px;
  width: 17px;
}

.mis-subscripciones .overlap-group5 {
  border-radius: 19.95px/20.69px;
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.mis-subscripciones .group-1404-1 {
  background-color: var(--purple-heart);
  border-radius: 19.95px/20.69px;
  box-shadow: 0px 4px 28px #2d0bff63;
  display: flex;
  height: 41px;
  left: 0;
  position: absolute;
  top: 0;
  width: 40px;
}

.mis-subscripciones .title {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 38px;
  margin-top: 16px;
  min-height: 28px;
}

.mis-subscripciones .en-menos-de-una-semana {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 37px;
  margin-top: 14px;
  min-height: 23px;
}

.mis-subscripciones .group-1968 {
  align-items: flex-start;
  display: flex;
  height: 87px;
  margin-left: 8.0px;
  margin-top: 27px;
  min-width: 360px;
}

.mis-subscripciones .overlap-group1 {
  height: 116px;
  margin-left: -15px;
  margin-top: -14px;
  position: relative;
  width: 382px;
}

.mis-subscripciones .group-1 {
  height: 116px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 130px;
}

.mis-subscripciones .frame-1903 {
  align-items: flex-start;
  display: flex;
  height: 87px;
  left: 320px;
  padding: 36.5px 16.5px;
  position: absolute;
  top: 14px;
  width: 47px;
}

.mis-subscripciones .vector-2 {
  height: 14px;
  width: 14px;
}

.mis-subscripciones .group-1-1 {
  height: 116px;
  left: 0;
  position: absolute;
  top: 0;
  width: 335px;
}

.mis-subscripciones .mask-group {
  height: 36px;
  left: 35px;
  position: absolute;
  top: 28px;
  width: 36px;
}

.mis-subscripciones .price {
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 69px;
}

.mis-subscripciones .date {
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 33px;
}

.mis-subscripciones .mensual {
  left: 244px;
  letter-spacing: 0;
  position: absolute;
  top: 36px;
}

.mis-subscripciones .disney {
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 47px;
}

.mis-subscripciones .overlap-group {
  align-items: flex-end;
  background-color: var(--purple-heart);
  border-radius: 20px;
  display: flex;
  height: 21px;
  justify-content: flex-end;
  left: 194px;
  min-width: 101px;
  padding: 3px 13px;
  position: absolute;
  top: 59px;
}

.mis-subscripciones .pago-en {
  letter-spacing: 0;
  min-height: 14px;
  min-width: 74px;
}

.mis-subscripciones .group-19 {
  align-items: flex-start;
  display: flex;
  height: 86px;
  margin-left: 8.0px;
  margin-top: 12px;
  min-width: 360px;
}

.mis-subscripciones .overlap-group-1 {
  height: 116px;
  margin-left: -15px;
  margin-top: -15px;
  position: relative;
  width: 382px;
}

.mis-subscripciones .anual {
  left: 260px;
  letter-spacing: 0;
  position: absolute;
  top: 36px;
}

.mis-subscripciones .spotify {
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 47px;
}

.mis-subscripciones .vector {
  height: 14px;
  left: 336px;
  position: absolute;
  top: 50px;
  width: 14px;
}

.mis-subscripciones .netflix {
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 47px;
}

.mis-subscripciones .group-1971 {
  align-items: flex-start;
  display: flex;
  height: 86px;
  margin-left: 8.0px;
  margin-top: 7px;
  min-width: 360px;
}

.mis-subscripciones .ellipse {
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 47px;
}

.mis-subscripciones .group-1715 {
  align-items: flex-end;
  background-color: var(--tulip);
  border-radius: 17.92px;
  display: flex;
  height: 36px;
  justify-content: flex-end;
  left: 35px;
  min-width: 36px;
  padding: 7.8px 9.8px;
  position: absolute;
  top: 28px;
}

.mis-subscripciones .vector-3 {
  height: 20px;
  width: 15px;
}

.mis-subscripciones .falta-un-mes-o-ms {
  align-self: flex-start;
  letter-spacing: 0;
  margin-left: 37px;
  margin-top: 29px;
  min-height: 23px;
}

.mis-subscripciones .overlap-group9 {
  height: 86px;
  margin-left: 6.0px;
  margin-top: 28px;
  position: relative;
  width: 358px;
}

.mis-subscripciones .price-1 {
  left: 75px;
  letter-spacing: 0;
  position: absolute;
  top: 53px;
}

.mis-subscripciones .overlap-group6 {
  height: 116px;
  left: -15px;
  position: absolute;
  top: -15px;
  width: 382px;
}

.mis-subscripciones .mensual-1 {
  left: 244px;
  letter-spacing: 0;
  position: absolute;
  top: 39px;
}

.mis-subscripciones .you-tube {
  left: 90px;
  letter-spacing: 0;
  position: absolute;
  top: 47px;
}

.mis-subscripciones .overlap-group-3 {
  align-items: flex-end;
  background-color: var(--slimy-green);
  border-radius: 20px;
  display: flex;
  height: 21px;
  justify-content: flex-end;
  left: 194px;
  min-width: 101px;
  padding: 3px 13px;
  position: absolute;
  top: 62px;
}

.mis-subscripciones .ests-al-da {
  letter-spacing: 0;
  min-height: 14px;
  text-align: center;
  width: 74px;
}

.mis-subscripciones .image-170 {
  height: 36px;
  left: 35px;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 36px;
}

.mis-subscripciones .navegador-principal {
  align-items: flex-start;
  background-color: var(--blue);
  border-radius: 20px;
  box-shadow: 0px 0px 40px #0038ff1a;
  display: flex;
  margin-top: 78px;
  overflow: hidden;
  padding: 0 18px;
  width: 390px;
}

.mis-subscripciones .overlap-group7 {
  height: 77px;
  margin-left: 1px;
  position: relative;
  width: 353px;
}

.mis-subscripciones .group-1624 {
  display: flex;
  height: 77px;
  left: 16px;
  position: absolute;
  top: 0;
  width: 337px;
}

.mis-subscripciones .group-1623 {
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-top: 21px;
  width: 26px;
}

.mis-subscripciones .icon-home {
  height: 22.6px;
  margin-left: 1.5px;
  margin-top: -0.5px;
  width: 21.6px;
}

.mis-subscripciones .inicio {
  height: 12px;
  letter-spacing: 0;
  margin-top: 5.9px;
  text-align: center;
  width: 24px;
}

.mis-subscripciones .frame-1622 {
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 24px;
  width: 70px;
}

.mis-subscripciones .iconly-light-outline-wallet {
  height: 23.12px;
  margin-left: 23.5px;
  margin-top: 19.5px;
  width: 25.2px;
}

.mis-subscripciones .movimientos {
  height: 12px;
  letter-spacing: 0;
  margin-left: 7px;
  margin-top: 6.4px;
  text-align: center;
  width: 56px;
}

.mis-subscripciones .frame-1621 {
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 13px;
  width: 61px;
}

.mis-subscripciones .iconly-light-outline3-user {
  height: 22px;
  margin-left: 16px;
  margin-top: 21px;
  width: 30px;
}

.mis-subscripciones .parches {
  height: 12px;
  letter-spacing: 0;
  margin-left: 15px;
  margin-top: 6px;
  text-align: center;
  width: 33px;
}

.mis-subscripciones .frame-1620 {
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 18px;
  width: 59px;
}

.mis-subscripciones .icon-play {
  height: 22.4px;
  margin-left: 17.5px;
  margin-top: 20.5px;
  width: 22.4px;
}

.mis-subscripciones .aprende {
  height: 12px;
  letter-spacing: 0;
  margin-left: 10px;
  margin-top: 6.1px;
  text-align: center;
  width: 39px;
}

.mis-subscripciones .frame-1619 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 15px;
  padding: 17px 0;
  width: 51px;
}

.mis-subscripciones .combined-shape {
  height: 22px;
  margin-right: 0.52px;
  margin-top: 4px;
  width: 18px;
}

.mis-subscripciones .perfil {
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 12px;
  min-width: 23px;
  text-align: center;
}

.mis-subscripciones .rectangle-589 {
  background-color: var(--miwo10);
  border-radius: 13px;
  box-shadow: 0px 0px 12px #ff855f;
  height: 52px;
  left: 0;
  position: absolute;
  top: 13px;
  width: 56px;
}

.mis-subscripciones .icon-home-1 {
  height: 23px;
  left: 18px;
  position: absolute;
  top: 28px;
  width: 22px;
}
