/* screen - parches-principal */

.parches-principal {
  align-items: center;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  height: 926px;
  overflow: hidden;
  width: 428px;
}

.parches-principal .overlap-group6 {
  height: 881px;
  margin-right: 1.5px;
  margin-top: -79px;
  position: relative;
  width: 429px;
}




#contenido {
  height: 257px;
  margin-right: 1.0px;
  margin-top: 106px;
  position: relative;
  width: 329px;
}

.parches-principal .group-1906 {
  height: 370px;
  left: 0;
  position: absolute;
  top: 0;
  width: 428px;
}

.parches-principal .frame-1904 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 802px;
  left: 1px;
  overflow: hidden;
  position: absolute;
  top: 79px;
  width: 428px;
}

.parches-principal .overlap-group5 {
  align-self: flex-start;
  height: 220px;
  margin-left: -51px;
  margin-top: -47px;
  position: relative;
  width: 469px;
}

.parches-principal .rectangle-894 {
  background-color: var(--miwo10);
  border-radius: 20px;
  height: 220px;
  left: 0;
  position: absolute;
  top: 0;
  width: 438px;
}

.parches-principal .overlap-group2 {
  height: 97px;
  left: 374px;
  position: absolute;
  top: 53px;
  width: 95px;
}

.parches-principal .ellipse-164 {
  background-color: var(--governor-bay);
  border-radius: 31.75px/32.49px;
  height: 65px;
  left: 16px;
  position: absolute;
  top: 13px;
  width: 63px;
}

.parches-principal .overlap-group1 {
  height: 97px;
  left: 0;
  position: absolute;
  top: 0;
  width: 95px;
}

.parches-principal .overlap-group {
  align-items: flex-start;
  background-image: url(https://anima-uploads.s3.amazonaws.com/projects/625c46af91fd1ec47148b487/releases/62717421b69d2fcf4c28629b/img/ellipse-164@2x.png);
  background-size: 100% 100%;
  display: flex;
  height: 97px;
  justify-content: flex-end;
  left: 0;
  min-width: 95px;
  padding: 37.6px 39.1px;
  position: absolute;
  top: 0;
}

.parches-principal .ufilter {
  height: 16px;
  width: 16px;
}

.parches-principal .vector {
  height: 17px;
  left: 39px;
  position: absolute;
  top: 36px;
  width: 17px;
}

.parches-principal .ahora-cumplir-tus-me {
  color: var(--haiti);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-s2);
  font-weight: 500;
  left: 97px;
  letter-spacing: 0;
  position: absolute;
  top: 118px;
  width: 284px;
}

.parches-principal .span0 {
  color: var(--blue);
  font-weight: 500;
}

.parches-principal .span1 {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-light);
  font-weight: 300;
}

.parches-principal .overlap-group4 {
  height: 257px;
  margin-right: 1.0px;
  margin-top: 106px;
  position: relative;
  width: 329px;
}

.parches-principal .overlap-group3 {
  height: 257px;
  left: 0;
  position: absolute;
  top: 0;
  width: 329px;
}

.parches-principal .rectangle-9 {
  height: 236px;
  left: 0;
  position: absolute;
  top: 21px;
  width: 329px;
}

.parches-principal .image-61 {
  background-color: var(--blue);
  border: 1px solid var(--shady-lady);
  border-radius: 50px;
  height: 53px;
  left: 132px;
  position: absolute;
  top: 0;
  width: 53px;
}

.parches-principal .rectangle-895 {
  border: 1px solid #eeeefa;
  border-radius: 10px;
  height: 100px;
  left: 37px;
  position: absolute;
  top: 129px;
  width: 283px;
}

.parches-principal .group-1403 {
  height: 66px;
  margin-top: 11px;
  width: 346px;
}

.parches-principal .lograr-algo-es-incre {
  color: #444444;
  font-family: var(--font-family-niveau_grotesk-light);
  font-size: var(--font-size-m2);
  font-weight: 300;
  left: 91px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 460px;
  width: 247px;
}

.parches-principal .title {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xxl2);
  font-weight: 700;
  left: 47px;
  letter-spacing: 0;
  position: absolute;
  top: 119px;
}

.parches-principal .mis-parches {
  color: #8524e5;
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 53px;
  left: 57px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 288px;
  width: 122px;
}

.parches-principal .explorar-parches {
  color: var(--shady-lady);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xl);
  font-weight: 700;
  height: 53px;
  left: 228px;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  top: 287px;
  width: 176px;
}

.parches-principal .navegador-principal {
  background-color: var(--blue);
  border-radius: 20px;
  box-shadow: 0px 0px 40px #0038ff1a;
  display: flex;
  margin-top: 28px;
  overflow: hidden;
  width: 390px;
}

.parches-principal .navegador-principal-1 {
  align-items: flex-start;
  background-color: var(--blue);
  border-radius: 20px;
  box-shadow: 0px 0px 40px #0038ff1a;
  display: flex;
  overflow: hidden;
  padding: 0 17px;
  width: 390px;
}

.parches-principal .overlap-group-1 {
  height: 77px;
  margin-left: 4px;
  position: relative;
  width: 352px;
}

.parches-principal .group-1624 {
  display: flex;
  height: 77px;
  left: 0;
  position: absolute;
  top: 0;
  width: 352px;
}

.parches-principal .frame-1623 {
  display: flex;
  flex-direction: column;
  height: 76px;
  margin-top: 1px;
  width: 52px;
}

.parches-principal .iconly-light-outline-home {
  height: 22.6px;
  margin-left: 15.5px;
  margin-top: 19.5px;
  width: 21.6px;
}

.parches-principal .inicio {
  height: 12px;
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 5.9px;
  text-align: center;
  width: 24px;
}

.parches-principal .frame-1622 {
  display: flex;
  flex-direction: column;
  height: 77px;
  margin-left: 10px;
  width: 74px;
}

.parches-principal .iconly-light-outline-wallet {
  height: 23.12px;
  margin-left: 25.5px;
  margin-top: 19.5px;
  width: 25.2px;
}

.parches-principal .movimientos {
  height: 12px;
  letter-spacing: 0;
  margin-left: 9px;
  margin-top: 6.4px;
  text-align: center;
  width: 56px;
}

.parches-principal .group-1621 {
  display: flex;
  flex-direction: column;
  height: 40px;
  margin-left: 26px;
  margin-top: 21px;
  width: 35px;
}

.parches-principal .iconly-light-outline3-user {
  height: 22px;
  margin-left: 1px;
  width: 30px;
}

.parches-principal .parches {
  height: 12px;
  letter-spacing: 0;
  margin-top: 6px;
  text-align: center;
  width: 33px;
}

.parches-principal .frame-1620 {
  display: flex;
  flex-direction: column;
  height: 76px;
  margin-left: 25px;
  margin-top: 1px;
  width: 67px;
}

.parches-principal .iconly-light-outline-play {
  height: 22.4px;
  margin-left: 21.5px;
  margin-top: 19.5px;
  width: 22.4px;
}

.parches-principal .aprende {
  height: 12px;
  letter-spacing: 0;
  margin-left: 14px;
  margin-top: 6.1px;
  text-align: center;
  width: 39px;
}

.parches-principal .frame-1619 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 76px;
  margin-left: 10px;
  margin-top: 1px;
  padding: 17px 0;
  width: 53px;
}

.parches-principal .combined-shape {
  height: 22px;
  margin-right: 0.53px;
  margin-top: 3px;
  width: 18px;
}

.parches-principal .perfil {
  letter-spacing: 0;
  margin-top: 5px;
  min-height: 12px;
  min-width: 23px;
  text-align: center;
}

.parches-principal .rectangle-589 {
  background-color: var(--miwo10);
  border-radius: 13px;
  box-shadow: 0px 0px 12px #ff855f;
  height: 52px;
  left: 151px;
  position: absolute;
  top: 13px;
  width: 56px;
}

.parches-principal .iconly-light-outline3-user-1 {
  height: 22px;
  left: 164px;
  position: absolute;
  top: 28px;
  width: 30px;
}

.idea .group-1724 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  left: 28px;
  min-height: 179px;
  position: absolute;
  top: 63px;
  width: 336px;
}

.idea .parche-multiverso {
  align-self: center;
  color: transparent;
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-xl);
  font-weight: 500;
  letter-spacing: 0;
  margin-left: 1.27px;
  min-height: 25px;
  min-width: 181px;
}

.idea .span0 {
  color: var(--haiti);
}

.idea .span1 {
  color: var(--purple-heart);
}

.idea .flex-row {
  align-items: flex-end;
  align-self: center;
  display: flex;
  margin-left: 1.29px;
  margin-top: 3px;
  min-width: 122px;
}

.idea .group-1573 {
  align-items: flex-end;
  display: flex;
  justify-content: flex-end;
  min-width: 41px;
  transform: rotate(-180deg);
}

.idea .group-container {
  height: 19px;
  margin-bottom: 0;
  position: relative;
  width: 41px;
}

.idea .group-1570 {
  align-items: flex-end;
  display: flex;
  height: 19px;
  justify-content: flex-end;
  left: 22px;
  min-width: 19px;
  position: absolute;
  top: 0;
  transform: rotate(-360deg);
}

#overlap-group {
  border-radius: 9.48px/9.3px;
  height: 19px;
  margin-bottom: 0;
  position: relative;
  width: 19px;
}

.idea .ellipse-173 {
  background-color: var(--blue);
  border-radius: 9.48px/9.3px;
  height: 19px;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-360deg);
  width: 19px;
}

.idea .mask-group {
  height: 17px;
  left: 1px;
  position: absolute;
  top: 1px;
  transform: rotate(-180deg);
  width: 17px;
}

.idea .group-1571 {
  align-items: flex-end;
  display: flex;
  height: 19px;
  justify-content: flex-end;
  left: 13px;
  min-width: 19px;
  position: absolute;
  top: 0;
  transform: rotate(-360deg);
}

.idea .group-1572 {
  align-items: flex-end;
  display: flex;
  height: 19px;
  justify-content: flex-end;
  left: 0;
  min-width: 19px;
  position: absolute;
  top: 0;
  transform: rotate(-360deg);
}

.idea .address {
  height: 16px;
  letter-spacing: 0;
  line-height: 14.3px;
  margin-bottom: 0.6px;
  margin-left: 3px;
  white-space: nowrap;
  width: 77px;
}

.idea .parche-para-ir-de-va {
  color: var(--shark-2);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  height: 17px;
  letter-spacing: 0;
  line-height: 17.1px;
  margin-top: 2px;
  text-align: center;
  white-space: nowrap;
  width: 314px;
}

.idea .overlap-group-container {
  align-items: flex-start;
  display: flex;
  margin-left: 5.29px;
  margin-top: 7px;
  min-width: 300px;
}

.idea .overlap-group-1 {
  border-radius: 4.23px;
  height: 50px;
  position: relative;
  width: 145px;
}

.idea .price {
  height: 16px;
  left: 55px;
  letter-spacing: 0;
  line-height: 21.4px;
  position: absolute;
  text-align: center;
  top: 24px;
  white-space: nowrap;
  width: 67px;
}

.idea .meta {
  height: 17px;
  left: 55px;
  letter-spacing: 0;
  line-height: 15.7px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 35px;
}

.idea .rectangle {
  border-radius: 4.23px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 145px;
}

.idea .rectangle-60 {
  background-color: var(--purple-heart);
  border-radius: 6.35px;
  height: 36px;
  left: 8px;
  position: absolute;
  top: 7px;
  width: 36px;
}

.idea .mask-group-1 {
  height: 23px;
  left: 15px;
  position: absolute;
  top: 14px;
  width: 23px;
}

.idea .overlap-group-2 {
  border-radius: 4.23px;
  height: 50px;
  margin-left: 10px;
  position: relative;
  width: 145px;
}

.idea .address-2 {
  height: 16px;
  left: 55px;
  letter-spacing: 0;
  line-height: 21.4px;
  position: absolute;
  top: 24px;
  white-space: nowrap;
  width: 67px;
}

.idea .faltan {
  height: 17px;
  left: 55px;
  letter-spacing: 0;
  line-height: 15.7px;
  position: absolute;
  top: 7px;
  white-space: nowrap;
  width: 59px;
}

.idea .rectangle-604 {
  border: 0.1px solid var(--purple-heart);
  border-radius: 4.23px;
  height: 50px;
  left: 0;
  position: absolute;
  top: 0;
  width: 145px;
}

.idea .icon-clock {
  height: 19px;
  left: 17px;
  position: absolute;
  top: 16px;
  width: 19px;
}

.idea .price-1 {
  height: 18px;
  left: 53px;
  letter-spacing: 0;
  line-height: 21.4px;
  position: absolute;
  text-align: center;
  top: 23px;
  white-space: nowrap;
  width: 65px;
}

.idea .recaudado {
  height: 19px;
  left: 55px;
  letter-spacing: 0;
  line-height: 15.7px;
  position: absolute;
  top: 4px;
  width: 86px;
}

.idea .mask-group-4 {
  height: 22px;
  left: 15px;
  position: absolute;
  top: 13px;
  width: 22px;
}

.idea .cuota {
  height: 19px;
  left: 55px;
  letter-spacing: 0;
  line-height: 17.1px;
  position: absolute;
  top: 4px;
  white-space: nowrap;
  width: 86px;
}

.idea .mask-group-5 {
  height: 22px;
  left: 16px;
  position: absolute;
  top: 13px;
  width: 22px;
}
