/* screen - registro3 */

.registro3 {
  align-items: center;
  background-color: var(--blue);
  display: flex;
  flex-direction: column;
  height: 926px;
  padding: 64px 38px;
  width: 428px;
}

.registro3 .group-1689 {
  align-items: flex-start;
  align-self: flex-start;
  cursor: pointer;
  display: flex;
  min-width: 87px;
}

.registro3 .vector {
  height: 23px;
  margin-top: -0.14px;
  width: 13px;
}

.registro3 .place {
  align-self: center;
  letter-spacing: 0;
  margin-left: 17px;
  margin-top: 0.29px;
  min-height: 17px;
  min-width: 55px;
}

.registro3 .title {
  letter-spacing: 0;
  margin-left: 7.0px;
  margin-top: 85px;
  min-height: 28px;
  min-width: 295px;
}

.registro3 .necesitamos-unos-dat {
  letter-spacing: 0;
  margin-right: 66.9px;
  margin-top: 20px;
  margin-bottom: 33px;
  min-height: 34px;
  transform: rotate(-0.02deg);
  width: 221px;
}

.registro3 .single-tab-1 {
  align-items: flex-end;
  background-color: var(--blue);
  border-radius: 5px;
  box-shadow: 0px 0px 15px #0038ff1a;
  display: flex;
  height: 58px;
  margin-right: 1.0px;
  margin-top: 33px;
  overflow: hidden;
  padding: 9px 25px;
  width: 319px;
}

.registro3 .single-tab-2 {
  height: 38px;
  width: 112px;
}

.registro3 .single-tab {
  align-items: flex-start;
  background-color: var(--blue);
  border-radius: 5px;
  box-shadow: 0px 0px 15px #0038ff1a;
  display: flex;
  margin-right: 1.0px;
  margin-top: 13px;
  overflow: hidden;
  padding: 0 16px;
  width: 319px;
}

.registro3 .input {
  background-color: transparent;
  border: 0;
  height: 58px;
  letter-spacing: 0;
  line-height: 18px;
  margin-left: 20px;
  padding: 0;
  width: 267px;
}

.registro3 .input::placeholder {
  color: #73798299;
}

.registro3 .group-1730 {
  align-items: flex-start;
  display: flex;
  margin-left: 2.0px;
  margin-top: 46px;
  min-width: 156px;
}

.registro3 .overlap-group {
  align-items: flex-start;
  border: 2px solid var(--rolling-stone);

  border-radius: 9px;
  display: flex;
  min-width: 154px;
  padding: 0 12px;
}

.registro3 .continuar {
  height: 50px;
  letter-spacing: 0;
  margin-top: -2px;
  text-align: center;
  width: 127px;
}
