:root {
  --black: 
rgba(0, 0, 0, 1);
  --rolling-stone: 
rgba(115, 121, 130, 1);
  --pink-swan: 
rgba(187, 187, 187, 1);
  --silver: 
rgba(189, 190, 190, 1);
  --miwo10: 
rgba(249, 107, 57, 1);
  --bittersweet: 
rgba(255, 121, 121, 1);
  --blue: 
rgba(255, 255, 255, 1);
--haiti: #170f2d;
--red: #e50000;

  --font-size-s: 14px;
  --font-size-m2: 15px;
  --font-size-l2: 16px;
  --font-size-l3: 36px;
  --font-size-xl2: 20px;
  --font-size-xxl2: 24px;
  --font-size-xxxxl: 32px;

  --font-family-niveau_grotesk-bold: "Niveau Grotesk-Bold";
  --font-family-niveau_grotesk-light: "Niveau Grotesk-Light";
  --font-family-niveau_grotesk-medium: "Niveau Grotesk-Medium";
  --font-family-niveau_grotesk-regular: "Niveau Grotesk-Regular";
  --font-family-poppins: "Poppins";
}

.niveaugrotesk-regular-normal-haiti-15px {
  color: var(--haiti);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.border-0-2px-bittersweet {
  border-width: 0.2px;
  border-style: solid;
  border-color: var(--bittersweet);
}
.niveaugrotesk-medium-rolling-stone-14px {
  color: var(--rolling-stone);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}
.niveaugrotesk-medium-pink-swan-14px {
  color: var(--pink-swan);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}
.niveaugrotesk-medium-smashed-pumpkin-16px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-l2);
  font-weight: 500;
  font-style: normal;
}
.niveaugrotesk-medium-smashed-pumpkin-14px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}