@font-face {
  font-family: "Niveau Grotesk-Black";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/HVD\ Fonts\ -\ NiveauGroteskBlack.otf");
}
@font-face {
  font-family: "Niveau Grotesk-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/HVD FONTS - NiveauGroteskBold.otf");
}
@font-face {
  font-family: "Niveau Grotesk-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/HVD FONTS - NiveauGroteskMedium.otf");
}
@font-face {
  font-family: "Niveau Grotesk-Regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/HVD FONTS - NiveauGroteskRegular.otf");
}

@font-face {
  font-family: "Niveau Grotesk-Light";
  font-style: normal;

  font-weight: 300;
  src: url("/fonts/HVD\ Fonts\ -\ NiveauGroteskLight.otf");
}

:root {
  --rolling-stone-2: #7379824c;

  --black: 
  rgba(0, 0, 0, 1);
    --haiti: 
  rgba(23, 15, 45, 1);
    --shark: 
  rgba(36, 36, 38, 1);
    --rolling-stone: 
  rgba(115, 121, 130, 1);
    --purple-heart: 
  rgba(121, 29, 213, 1);
    --suva-gray: 
  rgba(136, 136, 136, 1);
    --shady-lady: 
  rgba(170, 170, 170, 1);
    --pink-swan: 
  rgba(187, 187, 187, 1);
    --silver: 
  rgba(189, 190, 190, 1);
  --slimy-green: #2dae17;

    --red: 
  rgba(229, 0, 0, 1);
    --rob-roy-2: 
  rgba(244, 194, 114, 0.4);
    --rob-roy: 
  rgba(244, 194, 114, 0.541);
    --black-haze: 
  rgba(246, 246, 246, 1);
    --white-linen: 
  rgba(248, 242, 233, 0.698);
    --miwo10: 
  rgba(249, 107, 57, 1);
    --bittersweet: 
  rgba(255, 121, 121, 1);
    --sunshade: 
  rgba(255, 153, 38, 1);
    --white-2: 
  rgba(255, 255, 255, 0.502);
    --white-3: 
  rgba(255, 255, 255, 0.961);
    --blue: 
  rgba(255, 255, 255, 1);
  --bon-jour: #e0e0e0;
  --governor-bay: #2c1dd5;
  --mine-shaft: #333333;
  --watusi: #fce0cf;


  --font-size-xs2: 12px;
  --font-size-xxs: 10px;
  --font-size-xs: 12px;
  --font-size-s: 14px;
  --font-size-m2: 15px;
  --font-size-l2: 16px;
  --font-size-l3: 36px;
  --font-size-xl2: 20px;
  --font-size-xxl2: 24px;
  --font-size-xxl: 22px;
  --font-size-xxxxl2: 32px;


  --font-family-niveau_grotesk-black: "Niveau Grotesk-Black";
  --font-family-niveau_grotesk-bold: "Niveau Grotesk-Bold";
  --font-family-niveau_grotesk-light: "Niveau Grotesk-Light";
  --font-family-niveau_grotesk-medium: "Niveau Grotesk-Medium";
  --font-family-niveau_grotesk-regular: "Niveau Grotesk-Regular";
  --font-family-poppins: "Poppins";
  --font-family-nunito: "Nunito", Helvetica;
}

.niveaugrotesk-regular-normal-white-15px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-medium-white-15px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 500;
}

.border-1px-shady-lady {
  border: 1px solid var(--shady-lady);
}

.niveaugrotesk-regular-normal-red-15px {
  color: var(--red);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-light-red-15px {
  color: var(--red);
  font-family: var(--font-family-niveau_grotesk-light);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 300;
}

.niveaugrotesk-bold-red-15px {
  color: var(--red);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.border-2px-smashed-pumpkin {
  border: 2px solid var(--miwo10);
}

.niveaugrotesk-medium-purple-heart-18px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 500;
}

.border-1px-rolling-stone-2 {
  border: 1px solid var(--rolling-stone-2);
}

.niveaugrotesk-medium-shark-13px {
  color: var(--shark-22);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
}

.niveaugrotesk-regular-normal-shark-12px {
  color: var(--shark-22);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-regular-normal-rolling-stone-12px {
  color: var(--rolling-stone);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-light-white-14px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-light);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
}
.niveaugrotesk-regular-normal-shark-15px2 {
  color: var(--shark);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-medium-white-20px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 500;
}

.niveaugrotesk-regular-normal-shark-15px3{
  color: var(--shark-2);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-regular-normal-rolling-stone-15px {
  color: var(--rolling-stone);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-bold-white-15px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.niveaugrotesk-regular-normal-shady-lady-10-6px {
  color: var(--shady-lady);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: 10.6px;
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-medium-smashed-pumpkin-15px{
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 500;
}

.niveaugrotesk-bold-white-24px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.niveaugrotesk-medium-white-14px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-s2);
  font-style: normal;
  font-weight: 500;
}

.niveaugrotesk-medium-white-12px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 500;
}

.nunito-semi-bold-mine-shaft-12px {
  color: var(--mine-shaft);
  font-family: var(--font-family-nunito);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 600;
}


.niveaugrotesk-light-haiti-15px {
  color: var(--haiti);
  font-family: var(--font-family-niveau_grotesk-light);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 300;
}

.niveaugrotesk-medium-shark-14px {
  color: var(--shark);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}

.niveaugrotesk-medium-smashed-pumpkin-20px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 500;
}
.niveaugrotesk-light-shark-14px {
  color: var(--shark-3);
  font-family: var(--font-family-niveau_grotesk-light);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 300;
}

.niveaugrotesk-bold-smashed-pumpkin-15px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.niveaugrotesk-regular-normal-gray-14px {
  color: var(--gray);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-bold-purple-heart-18px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 700;
}

.niveaugrotesk-regular-normal-purple-heart-15px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}

.niveaugrotesk-medium-haiti-20px {
  color: var(--haiti);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-xl2);
  font-weight: 500;
  font-style: normal;
}

.niveaugrotesk-regular-normal-white-13px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold-purple-heart-12px {
  color: var(--purple-heart);
  font-family: var(--font-family-poppins);
  font-size: var(--font-size-xs);
  font-weight: 700;
  font-style: normal;
}

.niveaugrotesk-regular-normal-purple-heart-11-6px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-xxs);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-regular-normal-smashed-pumpkin-11-4px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: 11.421052932739258px;
  font-weight: 400;
  font-style: normal;
}


.niveaugrotesk-bold-shady-lady-18px {
  color: var(--shady-lady);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
}

.niveaugrotesk-regular-normal-shark-11px {
  color: var(--shark-2);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-xxxs);
  font-style: normal;
  font-weight: 400;
}


.niveaugrotesk-regular-normal-shady-lady-12px {
  color: var(--shady-lady);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  font-style: normal;
}

.poppins-normal-shark-10px {
  color: var(--shark-2);
  font-family: var(--font-family-poppins);
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
}
.niveaugrotesk-bold-white-32px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xxxxl2);
  font-weight: 700;
  font-style: normal;
}

.niveaugrotesk-bold-white-32px-2 {
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xxxxl2);
  font-weight: 700;
  font-style: normal;
}

.niveaugrotesk-medium-shark-16px {
  color: var(--shark);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-l2);
  font-weight: 500;
  font-style: normal;
}

.niveaugrotesk-medium-shady-lady-10px {
  color: var(--shady-lady);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
}

.niveaugrotesk-regular-normal-white-14px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}

.niveaugrotesk-regular-normal-purple-heart-12-7px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-xs);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-medium-smashed-pumpkin-15-9px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-l);
  font-style: normal;
  font-weight: 500;
}

.niveaugrotesk-regular-normal-shark-15px {
  color: var(--shark);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}

.niveaugrotesk-regular-normal-white-12px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-xs);
  font-weight: 400;
  font-style: normal;
}

.niveaugrotesk-bold-haiti-24px {
  color: var(--haiti);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xxl2);
  font-weight: 700;
  font-style: normal;
}

.niveaugrotesk-medium-white-10px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: 10px;
  font-weight: 500;
  font-style: normal;
}

.niveaugrotesk-regular-normal-smashed-pumpkin-15px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-weight: 400;
  font-style: normal;
}

.niveaugrotesk-bold-purple-heart-12px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: 12px;
  font-weight: 700;
  font-style: normal;
}

.niveaugrotesk-regular-normal-suva-gray-12px {
  color: var(--suva-gray);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
}

.niveaugrotesk-bold-purple-heart-16px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-l2);
  font-weight: 700;
  font-style: normal;
}

.niveaugrotesk-bold-white-20px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xl2);
  font-weight: 700;
  font-style: normal;
}

.niveaugrotesk-medium-purple-heart-13px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
}

.niveaugrotesk-bold-sunshade-32px {
  color: var(--sunshade);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xxxxl2);
  font-weight: 700;
  font-style: normal;
}

.niveaugrotesk-medium-white-22px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-xxl);
  font-weight: 500;
  font-style: normal;
}

.border-1px-purple-heart {
  border-width: 1px;
  border-style: solid;
  
  border-color: var(--purple-heart);
}

.niveaugrotesk-bold-black-15px {
  color: var(--black);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}
.niveaugrotesk-bold-smashed-pumpkin-14px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 700;
}

.niveaugrotesk-regular-normal-black-15px {
  color: var(--black);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-medium-purple-heart-15px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 500;
}

.niveaugrotesk-bold-purple-heart-15px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}


.niveaugrotesk-medium-rolling-stone-20px {
  color: var(--rolling-stone);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-xl2);
  font-style: normal;
  font-weight: 500;
}

.niveaugrotesk-regular-normal-silver-16px {
  color: var(--silver);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 400;
}

.niveaugrotesk-medium-smashed-pumpkin-16px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-l2);
  font-style: normal;
  font-weight: 500;
}

.niveaugrotesk-bold-smashed-pumpkin-24px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 700;
}

.niveaugrotesk-regular-normal-haiti-15px {
  color: var(--haiti);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 400;
}

.border-0-2px-bittersweet {
  border-width: 0.2px;
  border-style: solid;
  border-color: var(--bittersweet);
}
.niveaugrotesk-medium-rolling-stone-14px {
  color: var(--rolling-stone);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}
.niveaugrotesk-medium-pink-swan-14px {
  color: var(--pink-swan);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}
.niveaugrotesk-medium-smashed-pumpkin-16px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-l2);
  font-weight: 500;
  font-style: normal;
}
.niveaugrotesk-medium-smashed-pumpkin-14px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-s);
  font-weight: 500;
  font-style: normal;
}

.niveaugrotesk-medium-smashed-pumpkin-24px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 500;
}

.niveaugrotesk-light-smashed-pumpkin-24px {
  color: var(--miwo10);
  font-family: var(--font-family-niveau_grotesk-light);
  font-size: var(--font-size-xxl2);
  font-style: normal;
  font-weight: 500;
}

.border-2px-rolling-stone {
  border: 2px solid var(--rolling-stone);
}

.border-0-2px-bittersweet {
  border: 0.2px solid var(--bittersweet);
}

.niveaugrotesk-regular-normal-purple-heart-16px {
  color: var(--purple-heart);
  font-family: var(--font-family-niveau_grotesk-regular);
  font-size: var(--font-size-l2);
  font-weight: 400;
  font-style: normal;
}

.niveaugrotesk-light-shark-15px {
  color: var(--shark);
  font-family: var(--font-family-niveau_grotesk-light);
  font-size: var(--font-size-m2);
  font-weight: 300;
  font-style: normal;
}

.niveaugrotesk-medium-shark-15px {
  color: var(--shark);
  font-family: var(--font-family-niveau_grotesk-medium);
  font-size: var(--font-size-m2);
  font-weight: 500;
  font-style: normal;
}

.niveaugrotesk-bold-white-32px {
  color: var(--blue);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-xxxxl2);
  font-weight: 700;
  font-style: normal;
}

.niveaugrotesk-bold-mine-shaft-15px {
  color: var(--mine-shaft);
  font-family: var(--font-family-niveau_grotesk-bold);
  font-size: var(--font-size-m2);
  font-style: normal;
  font-weight: 700;
}

.border-12px-watusi {
  border: 12px solid var(--watusi);
}